form {
	max-width: 420px;
	margin: 0 auto;
	padding: 30px;
	background-color: rgba($color: black, $alpha: 0.5);
	border-radius: 20px;
	border: 4px solid rgba($color: #fff, $alpha: 0.5);
}

input:not(input[type="range"]) {
	all: unset;
	padding: 15px 20px;
	border-radius: 11px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: black;
	margin-bottom: 7px;
	font-size: 24px;
	color: white;
	width: 90%;
	&::placeholder {
		color: rgba(255, 255, 255, 0.7);
	}
}

input[type="submit"],
.social__btn {
	padding: 12px 20px;
	background-color: white;
	color: $red;
	text-align: center;
	cursor: pointer;
	display: block;
	max-width: 420px;
	border-radius: 10px;
}
